<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
      <!--fontawesome-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Vue To Do List</title>
</head>
<body>
   <div id="app" class="container">
       <header class="app-header">

       </header>
   

   <section class="new-todo">
       <input type="text" 
       placeholder="Inserisci un elemento"
       v-model="newTodo"/>
       <button @click="addTodo">aggiungi</button>
   </section>

   <section class="todos-container">
       <ul>
           <li class="todo" v-for='todo in todos'>
               <span class="text">{{todo.text}}</span>
               <i class="fas fa-trash"></i>
           </li>
           
       </ul>
   </section>
   </div>
        <!--Vue-->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <!--JS-->
    <script src="./script.js"></script>
</body>
</html>