<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
      <!--fontawesome-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Vue To Do List</title>
</head>
<body>
   <div id="app" class="container">
       <header class="app-header">

       </header>
   

   <section class="new-todo">
       <input type="text" 
       placeholder="Inserisci un elemento"
       v-model.trim="newTodo"
       @keyup.enter="addTodo"
       ref="todoInput"/>

       <button @click="addTodo">aggiungi</button>
   </section>

   <section class="todos-container">
       <ul v-if="todos.lengh > 0">
           <li class="todo" v-for="(todo, index) in todos">

               <span class="text"
               :class="{completed: todo.completed}"
               @click="updateStatus(index)"
               > {{todo.text}}</span>

               <i class="fas fa-trash"
               @click="removeTodo(index)"></i>
           </li>
       </ul> 
       <h2 v-else>Nessun compito</h2>
   </section>
   </div>
        <!--Vue-->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <!--JS-->
    <script src="./script.js"></script>
</body>
</html>