*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 body{
     background-color: yellowgreen;
 }
.container{
    max-width: 700px;
    margin: 0 20px;
    padding: 0 1rem;
    background-color: yellowgreen;
    
}

.app-header{
    max-width: 300px;
}

.new-todo{
    display: flex;
}

.new-todo input,
.new-todo button{
height: 30px;
border:0;
outline: none;
}

.new-todo input{
    flex-grow: 1;
    margin-right: 20px;
    border-bottom: 1px solid white;
    
}


.todos-container{
    margin: 40px 0;
    padding:15px 10px;
    background-color: white;
    
}
.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom:1px solid honeydew;
}

